body{
    background-color: blueviolet;
}
h1{
    color:#ff0000;
    text-align: center;
}
h1:hover{
    text-shadow: 2px 2px 10px #00ff00;
}
img{
    width: 19%;
    border: 3px solid yellow;
    border-radius: 10%;
}
img.sagar{
    margin-left:20%;
}
img.sagar:hover{
    transform: scale(1.4);
}
img.saurabh{
    display: inline;
}
img.saurabh:hover{
    transform: scale(1.4);
}
img.murli:hover{
    transform: scale(1.4);
}
option{
    text-align: center;
    background-color: red;
}
.navBar{
    font-size: 30px;
    background-color: black;
    transform: translateX(13%);
    width: 80%;
}
a{
    text-decoration: none;
    border: 3px solid black;
    border-radius:10px;
    color: white;
    background-color: dimgrey;
}
a:hover{
    background-color: white;
    color: black;
    border-bottom-color: chartreuse;
    border-left-color: chartreuse;
    box-shadow: 0px 0px 9px blue;
}
.t{
    background-color: coral;
}
.names{
    font-size: 25px;
    transform: translateX(25%);
}
.sagarname{
    display: block;
    border: 0.8px solid ;
    background-color:blue;
    border-radius: none;
    color: greenyellow;
}
.saurabhname{
    display:block;
    border: 0.8px solid ;
    background-color:blue;
    border-radius: none;
    color: greenyellow;
}
.murliname{
    display: block;
    border: 0.8px solid ;
    background-color:blue;
    border-radius: none;
    color: greenyellow;
}