body{
    background-color: blueviolet;
}
h1{
    color:#ff0000;
    text-align: center;
}
h1:hover{
    text-shadow: 2px 2px 10px #00ff00;
}
  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
.bottom{
 width: 60%;
}

.img{
display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 30px solid #00ffff;
    border-radius: 60%;
}
.img:hover{
display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    border: 10px solid #aaff00;
    border-radius: 10%;
}

option{
    text-align: center;
    background-color: #ff0000;
}
.navBar{
    font-size: 30px;
    background-color: black;
    transform: translateX(13%);
    width: 90%;
}
a{
    text-decoration: none;
    border: 3px solid black;
    border-radius:10px;
    color: white;
    background-color: dimgrey;
}
a:hover{
    background-color: #00ff55;
    color: black;
    border-bottom-color: chartreuse;
    border-left-color: chartreuse;
    box-shadow: 0px 0px 9px blue;
}
.o{
    background-color: coral;
}
P{
    border: 3px double white;
    border-radius: 10px;
    font-size: 35px;
    color:yellowgreen;
    width: 48%;
    margin-left:13%;
}
p1{
    color: orange;
    font-size: 40px;
}
